.banner {
  color: white;
  text-align: center;
  height: 120vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h4 {
    font-weight: bolder;
  }
  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}
.banner-content {
  margin-left: 30px;
}
.banner-top {
  margin-bottom: 100px;
}
.banner-bottom {
  position: relative;
}
.margin-extend {
  margin-top: 100px;
}
.bottom-circle {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 10px solid #fff;
  position: absolute;
  top: 40%;
}
.bottom-caption {
  position: absolute;
  top: 72%;
}
.final-caption {
  position: absolute;
  top: 85%;
  color: pink;
  font-weight: bolder;
}
