.container {
  padding: 0;
}
.banner-process {
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  position: relative;
  z-index: 10;
  opacity: 1;
}
.banner-container {
  position: relative;
}
.line-setter {
  position: absolute;
  border-top: 3px solid rgba(0,0,0,0.2);
  top: 145px;
  width: 95%;
  z-index: 1;
  margin-left: 32px;
}
.process-step {
p {
  font-size: 12px;
  width: 200px;
  }
  height: 150px;
}
.feature-content {
  height: 60vh;
  background-color: white;
}
.image-feature {
  height: 300px;
  witdth: 150px;
}
.second-feature {
  background-color: #fafafa;
}
.bottom-small {
  font-size: 12px;
}
