.bottom-small {
  font-size: 12px;
}
body {
  background-color: #fff;
}
input {
  padding: 10px 20px !important;
}
.left-field-rounded {
  border-radius: 10px 0 0 10px !important;
  margin-right: -6px;
}
.right-field-rounded {
  border-radius: 0 10px 10px 0 !important;
  background-color: pink;
  color: #fff;
  font-weight: bolder;
}
.form-control {
  height: auto !important;
  font-size: 1em;
}
.step-circle {
  border-radius: 50%;
  background-color: #D4503D;
  height: 300px;
  width: 300px;
  position: relative;
}
.step-spacing {
  margin-bottom: 50px !important;
}
.counter-circle {
  height: 60px;
  width: 60px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 0%;
}
.counter-circle-left {
  height: 60px;
  width: 60px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 0%;
}
.number-center {
  color: #fff;
  font-weight: bolder;
}
