<div class="banner" style="background-image: url(images/background.png)">
  <div class="banner-content text-center">
    <img src="images/logo.png" alt="">
    <h1>Un accompagnement illimité <br> par un expert-comptable <br> pour vous les indépendants</h1>
    <p>Concentrez-vous sur votre développement, nous gérons & pilotons votre activité.</p>
    <div>
      <form class="form-inline">
        <input class ="form-control left-field-rounded" type="text" name="email" placeholder="Votre Email">
        <input type="submit" value="Je profite de l'offre" class="btn form-control right-field-rounded">
      </form>
    </div>
  </div>
</div>

<div class="process-steps">
bubbles

</div>


<div class="banner" style="background-image: url(images/banner_bottom.png)"">


</div>
