<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content text-left">
    <img src="images/logo.png" alt="">
    <h1>Freelances & Indépendants, bénéficiez d’un accompagnement illimité par un expert-comptable</h1>
    <p>Concentrez-vous sur votre développement, nous gérons & pilotons votre activité !</p>
    <div>
      <form class="form-inline">
          <input class ="form-control" type="text" name="email" placeholder="Email">
          <input type="submit" value="Je profite de l'offre *" class="btn btn-primary">
      </form>
    </div>
    <h6 class="bottom-small">*Acasi est en phase de test, le nombre de place est limité à 50 utilisateurs, inscrivez-vous sur la liste d’attente!
    </h6>
  </div>
</div>

<div class="banner-container">
<h3 class="text-center">Votre activité prise en main dans son intégralité</h3>
  <hr class="line-setter">
  <div class="banner-process">

    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-credit-card fa-3x" aria-hidden="true"></i></button>
        <p>Récupération automatique des données bancaires</p>
    </div>
    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-file-o fa-3x" aria-hidden="true"></i></button>
        <p>Récupération automatique des factures éléctroniques, transmission par photo/scan des factures papier</p>
    </div>
    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-eur fa-3x"></i></button>
        <p>Création des factures et devis clients. Envoie, relance et paiements en ligne (Paypal, CB)</p>
    </div>
     <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-calendar fa-3x"></i></button>
        <p>Gestion complète par l'expert-comptabe des déclarations fiscales (TVA, IS...)</p>
    </div>
     <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-smile-o fa-3x"></i></button>
        <p>Etablissement par l'expert-comptable des déclarations fiscales en fin déxercice</p>
    </div>

  </div>
</div>

<div class="feature-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4 col-lg-4 col-md-offset-2">
        <h2>Dashboard</h2>
        <h4>Pilotage de l’activité</h4>
        <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach financier d’intervenir sur le pilotage et la gestion de votre activité.
        Vous pouvez suivre votre trésorerie actuelle et prévisionnelle, visualiser votre résultat comptable provisoire et suivre les règlements clients.
        </p>
      </div>
      <div class="col-xs-6 col-md-4">
        <img class="image-feature" src="images/dashboard.png" alt="dashboard">
      </div>
    </div>
  </div>
</div>

<div class="feature-content second-feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4 col-lg-4 col-md-offset-2">
        <img class="image-feature" src="images/coach.png" alt="dashboard">
      </div>
      <div class="col-xs-6 col-md-4">
        <h2>Coach financier</h2>
          <p>Acasi est la première solution à offrir aux freelances un accompagnement illimité via le chat, les conférences Skype ou bien une rencontre dans nos locaux (Paris 9e), par un coach dédié et personnalisé.
          Coach financier mais également expert-comptable, l’ensemble des déclarations fiscales est réalisé par nos soins (TVA, IS, liasse fiscale…).
          Un chatbot est également à votre disposition pour une réponse en temps réel à vos principales problématiques.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="feature-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4 col-lg-4 col-md-offset-2">
        <h2>Notifications</h2>
        <p>Quel sera le montant de ma TVA ? <br>
           Quand serai-je prélevé de mes cotisations sociales ? <br>
           Vais-je payer beaucoup d’IS ? <br>
           Existe-t-il des possibilités d’optimisation ? <br>
           Toutes ces questions sont traitées par votre coach qui bénéficie d’une interface alliant intelligence artificielle, prédictif permettant un conseil sur-mesure.
        </p>
      </div>
      <div class="col-xs-6 col-md-4">
        <img class="image-feature" src="images/notifications.png" alt="dashboard">
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-logo">
    <img class="logo-small" src="images/logo.png" alt="">
  </div>
  <div class="footer-copyright">
    contact@acasi.io</div>
</div>
