<div class="banner">
  <div class="banner-content text-center">
    <img src="images/logo.png" alt="">
    <h1>Freelances & Indépendants, bénéficiez d’un accompagnement illimité par un expert-comptable</h1>
    <p>Concentrez-vous sur votre développement, nous gérons & pilotons votre activité !</p>
    <div>
      <form class="form-inline">
        <input class ="form-control" type="text" name="email" placeholder="Email">
        <input type="submit" value="Je profite de l'offre *" class="btn btn-primary">
      </form>
    </div>
    <h6 class="bottom-small">*Acasi est en phase de test, le nombre de place est limité à 50 utilisateurs, inscrivez-vous sur la liste d’attente!
    </h6>
  </div>
</div>
