<div class="banner banner-top" style="background-image: url(images/background.png)">
  <div class="banner-content text-center">
    <img src="images/logo.png" alt="">
    <h1>Un accompagnement illimité <br> par un expert-comptable <br> pour vous les indépendants</h1>
    <p>Concentrez-vous sur votre développement, nous gérons & pilotons votre activité.</p>
    <div>
      <form class="form-inline">
        <input class ="form-control left-field-rounded" type="text" name="email" placeholder="Votre Email">
        <input type="submit" value="Je profite de l'offre" class="btn form-control right-field-rounded">
      </form>
    </div>
  </div>
</div>

<div class="container">

  <div class="row step-spacing">

    <div class="col-xs-12 col-md-4 col-md-offset-2">
      <div class="step-circle">

      </div>
    </div>

    <div class="col-xs-12 col-md-4 text-left">
      <h3>On commence par se pluger à votre banque !</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

  </div>

  <div class="row step-spacing">


    <div class="col-xs-12 col-md-4 col-md-offset-2 text-left">
      <h3>On récupére toutes vos factures automatiquement</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="step-circle">

      </div>
    </div>

  </div>

    <div class="row step-spacing">

    <div class="col-xs-12 col-md-4 col-md-offset-2">
      <div class="step-circle">

      </div>
    </div>

    <div class="col-xs-12 col-md-4 text-left">
      <h3>On génére vos devis et vos factures, et on fait même les relances clients!</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

  </div>

    <div class="row step-spacing">

    <div class="col-xs-12 col-md-4 col-md-offset-2 text-left">
      <h3>Vous pouvez suivre la santé de votre entreprise en temps réel</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="step-circle">

      </div>
    </div>

  </div>

    <div class="row">

    <div class="col-xs-12 col-md-4 col-md-offset-2">
      <div class="step-circle">

      </div>
    </div>

    <div class="col-xs-12 col-md-4 text-left">
      <h3>On s’occupe de vos déclarations, de votre TVA, des liasses fiscales</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

  </div>

</div>


<div class="banner" style="background-image: url(images/banner_bottom.png)"">


</div>
