<div class="banner banner-top" style="background-image: url(images/background.png)">
  <div class="banner-content text-center">
    <img src="images/logo.png" alt="">
    <h1>Un accompagnement illimité <br> par un expert-comptable <br> pour vous les indépendants</h1>
    <p>Concentrez-vous sur votre développement, nous gérons & pilotons votre activité.</p>
    <div>
      <form class="form-inline">
        <input class ="form-control left-field-rounded" type="text" name="email" placeholder="Votre Email">
        <input type="submit" value="Je profite de l'offre" class="btn form-control right-field-rounded">
      </form>
    </div>
    <h4 class="margin-extend text-center">Comment ça marche?</h4>
  </div>
</div>

<!-- 5 process steps starting here...-->
<div class="container">

  <div class="row step-spacing step-flex" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <div class="step-circle">
        <div class="counter-circle">
          <h4 class="text-center number-center">1</h4>
        </div>
        <div class="arrow-dotted">

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 text-left steps-text">
      <h3>On commence par se plugger à votre banque !</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

  </div>

  <div class="row step-spacing step-flex" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">


    <div class="col-xs-12 col-md-6 col-md-offset-1 text-right steps-text">
      <h3>On récupére toutes vos factures automatiquement</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="step-circle">
        <div class="counter-circle-left">
          <h4 class="text-center number-center">2</h4>
        </div>
        <div class="arrow-dotted-reverse">

        </div>
      </div>
    </div>

  </div>

    <div class="row step-spacing step-flex" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <div class="step-circle">
        <div class="counter-circle">
          <h4 class="text-center number-center">3</h4>
        </div>
        <div class="arrow-dotted">

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 text-left steps-text">
      <h3>On génére vos devis et vos factures, et on fait même les relances clients!</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

  </div>

    <div class="row step-spacing step-flex" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">

    <div class="col-xs-12 col-md-6 col-md-offset-1 text-right steps-text">
      <h3>Vous pouvez suivre la santé de votre entreprise en temps réel</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="step-circle">
        <div class="counter-circle-left">
          <h4 class="text-center number-center">4</h4>
        </div>
        <div class="arrow-dotted-reverse">

        </div>
      </div>
    </div>

  </div>

    <div class="row step-flex" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <div class="step-circle">
        <div class="counter-circle">
          <h4 class="text-center number-center">5</h4>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 text-left steps-text">
      <h3>On s’occupe de vos déclarations, de votre TVA, des liasses fiscales</h3>
      <p>La vue globale des principaux indicateurs alimentés en temps réel permet au coach
         financier d’intervenir sur le pilotage et la gestion de votre activité. Vous pouvez suivre</p>
    </div>

  </div>

</div>

<!-- footer starts here -->
<div class="banner banner-bottom" style="background-image: url(images/banner_bottom.png)">
  <div class="bottom-circle">

  </div>
  <div class="bottom-caption">
    <h3>Un coach est disponible quand vous le souhaitez</h3>
  </div>
  <div class="final-caption">
    <h4>conseils financiers - optimisation fiscale - croissance de l'activité</h4>
  </div>

</div>


  <script>
    AOS.init();
  </script>
