<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <img src="images/logo.png" alt="">
    <h1>Freelances & Indépendants, bénéficiez d’un accompagnement illimité par un expert-comptable</h1>
    <p>Concentrez-vous sur votre développement, nous gérons & pilotons votre activité !</p>
    <div>
      <form class="form-inline">
          <input class ="form-control" type="text" name="email" placeholder="Email">
          <input type="submit" value="Je profite de l'offre" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<div class="banner-container">
<h3 class="text-center">Votre activité prise en main dans son intégralité</h3>
  <hr class="line-setter">
  <div class="banner-process">

    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-credit-card fa-3x" aria-hidden="true"></i></button>
        <p>Récupération automatique des données bancaires</p>
    </div>
    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-file-o fa-3x" aria-hidden="true"></i></button>
        <p>Récupération automatique des factures éléctroniques, transmission par photo/scan des factures papier</p>
    </div>
    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-eur fa-3x"></i></button>
        <p>Création des factures et devis clients. Envoie, relance et paiements en ligne (Paypal, CB)</p>
    </div>
     <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-calendar fa-3x"></i></button>
        <p>Gestion complète par l'expert-comptabe des déclarations fiscales (TVA, IS...)</p>
    </div>
     <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-smile-o fa-3x"></i></button>
        <p>Etablissement par l'expert-comptable des déclarations fiscales en fin déxercice</p>
    </div>

  </div>
</div>

<div class="feature-content">

 Text + image

</div>
