<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://pixnio.com/free-images/2017/03/25/2017-03-25-09-28-43.jpg');">
  <div class="banner-content">
    <img src="images/logo.png" alt="">
    <h1>Conseil illimité pour indépendants</h1>
    <p>L'expertise comptabe révolutionnée</p>
      <div>
        <form class="form-inline">
            <input class ="form-control" type="text" name="email" placeholder="Email">
            <input type="submit" value="Je profite de l'offre" class="btn btn-primary">
        </form>
      </div>
  </div>
</div>
