<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <img src="images/logo.png" alt="">
    <h1>Freelances & Indépendants, bénéficiez d’un accompagnement illimité par un expert-comptable</h1>
    <p>Concentrez-vous sur votre développement, nous gérons & pilotons votre activité !</p>
    <div>
      <form class="form-inline">
          <input class ="form-control" type="text" name="email" placeholder="Email">
          <input type="submit" value="Je profite de l'offre" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<!-- <div class="banner-process">

    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-credit-card fa-3x" aria-hidden="true"></i></button>
        <p>Banque</p>
    </div>
    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-file-o fa-3x" aria-hidden="true"></i></button>
        <p>Notes de frais</p>
    </div>
    <div class="process-step">
        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-eur fa-3x"></i></button>
        <p>Ventes</p>
    </div>
     <div class="process-step">
        <button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="fa fa-eur fa-3x"></i></button>
        <p>TVA</p>
    </div>
     <div class="process-step">
        <button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="fa fa-eur fa-3x"></i></button>
        <p>Bilan</p>
    </div>

</div> -->

<div class="Workflow">
  <div class="Container">
    <h2 class="is-lead is-blue">Vos dépenses complètes enregistrées en moins de 20 secondes</h2>
      <div class="Workflow-illu">
        <div data-inview="scaleXFromLeft,1.2s,0.2s" class="Workflow-illu-bar is-waiting-animation" style="animation: scaleXFromLeft 1.2s 0.2s forwards;">
        </div>
        <div data-inview="fadeIn,1s,0.5s" class="Workflow-illu-col is-waiting-animation" style="animation: fadeIn 1s 0.5s forwards;">
          <div> <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
          </div>
          <p>Vous effectuez le paiement  avec votre carte Mooncard</p>
        </div>
        <div data-inview="fadeIn,1s,0.6s" class="Workflow-illu-col is-waiting-animation" style="animation: fadeIn 1s 0.6s forwards;">
          <div> <i class="fa fa-file-o fa-3x" aria-hidden="true"></i>
          </div>
          <p>Vous recevez immédiatement un SMS personnalisé.</p>
        </div>
        <div data-inview="fadeIn,1s,0.7s" class="Workflow-illu-col is-waiting-animation" style="animation: fadeIn 1s 0.7s forwards;">
          <div> <i class="fa fa-eur fa-3x" aria-hidden="true"></i>
          </div>
          <p>Vous prenez en photo le justificatif de la dépense. </p>
      </div>
      <div data-inview="fadeIn,1s,0.8s" class="Workflow-illu-col is-waiting-animation" style="animation: fadeIn 1s 0.8s forwards;">
          <div> <i class="fa fa-eur fa-3x" aria-hidden="true"></i>
          </div>
        <p>C’est terminé&nbsp;! le suivi complet de la dépense est assuré.</p>
    </div>
    <div data-inview="fadeIn,1s,0.9s" class="Workflow-illu-col is-waiting-animation" style="animation: fadeIn 1s 0.9s forwards;">
          <div> <i class="fa fa-eur fa-3x" aria-hidden="true"></i>
          </div>
      <p>Vous êtes satisfait et votre comptable aussi.</p>
    </div>
    </div>
  </div>
</div>
